body {
    overflow: hidden;
    height: 100%;
}
html {
    height: 100%;
}
#noScriptImage {
    max-width: none;
}
#canvas {
    cursor: crosshair;
}

#main_content {
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 0;
}

#colour-selector a {
    padding-left: 2px;
    padding-right: 2px;
}
#colour-selector a:hover div {
    border-color: black;
}
#colour-selector a div.active {
    border-color: white;
}
#colour-selector a > div {
    width: 10px;
    height: 18px;
    border: 1px solid gray;
    overflow: hidden;
}

/* Tabs */
#main_content div.tab {
    display: none;
}
#main_content div.tab.visible {
    display: block;
}
.navbar div.tab {
    display: none;
}
.navbar div.tab.visible {
    display: inline;
}