body {
    overflow: hidden;
    height: 100%;
}
html {
    height: 100%;
}
#noScriptImage {
    max-width: none;
}
#canvas {
    cursor: crosshair;
}

#main_content {
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 0;
}

#colour-selector a {
    padding-left: 2px;
    padding-right: 2px;
}
#colour-selector a:hover div {
    border-color: black;
}
#colour-selector a div.active {
    border-color: white;
}
#colour-selector a > div {
    width: 10px;
    height: 18px;
    border: 1px solid gray;
    overflow: hidden;
}

/* Tabs */
#main_content div.tab {
    display: none;
}
#main_content div.tab.visible {
    display: block;
}
.navbar div.tab {
    display: none;
}
.navbar div.tab.visible {
    display: inline;
}
.progress {
    width: 200px;
    float: right;
    margin: 10px 0;
}
.progress .bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.progress .text {
    float: left;
    text-align: center;
    width: 200px;
    color: #000;
}
.navbar div.loading div.loadingText {
    float: left;
    margin: 10px 30px;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}